<!--
  Generated template for the MoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pick your mood</ion-title>
    <ion-buttons *ngIf="thereIsASelectedMood()" class="" end>
      <button ion-button  (click)="next()">
        NEXT
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content color="light">

  <div class="wrapper" style="height: 100%;width: 100%" >  
    <ion-slides pager="true" #slide direction="vertical" slidesPerView="3" effect="slide">

      <ion-slide *ngFor="let mood of moods" (click)="selectMood(mood)" [ngStyle]="{selected: mood.selected}">
        <img [src]="sanatizeUrl(mood)" alt="" srcset="">
        <h3 *ngIf="mood.selected" style="color:white; font-weight: bold">{{mood.name}}</h3>
        <h3 *ngIf="!mood.selected" style="color: #E2E2E2">{{mood.name}}</h3>
      </ion-slide>

      <ion-slide></ion-slide>

  </ion-slides>
  </div>

  

</ion-content>